<nav class="navbar navbar-expand-lg site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 title" href="/viagens">
      <img src="../../../../assets/icon/logo2.png" alt="My Travels" class="img">
    </a>
        <div>
          <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/viagens">Viagens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/veiculos">Veículos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/motoristas">Motoristas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/cidades">Cidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/usuarios">Usuários</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Marcas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="admin/conteudo/1">Marca1</a></li>
                  <li><a class="dropdown-item" href="#">Marca2</a></li>
                  <li><a class="dropdown-item" href="#">Marca3</a></li>
                </ul>
              </li> -->
              <li class="nav-item">
                <a class="btn" (click)="loggout()">Sair</a>
              </li>
            </ul>

          </div>
        </div>

  </div>
</nav>
