svg {
  border: transparent;
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: #016FA0;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}


.add {
  font-size: 30px !important;
  float: right;
  margin-right: 10px;
}

label{
  margin-left: 10px;
}
