<app-header></app-header>
<div class="container">
  <div class="row">
    <h1 class="jumbotron-heading d-flex justify-content-center mt-5">Editar Viagem</h1>
    <br>
    <div class="d-flex justify-content-center">
      <form [formGroup]="dataModel" class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Veiculos</mat-label>
          <input type="text" name="veiculo" formControlName="veiculo" matInput readonly>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Motorista</mat-label>
          <input type="text" name="motorista" formControlName="motorista" matInput readonly>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>KM Inical</mat-label>
          <input type="text" name="kmIncial" formControlName="kmIncial" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>KM Final</mat-label>
          <input type="text" name="kmFinal" formControlName="kmFinal" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Data Inical</mat-label>
          <input type="text" name="dataInical" formControlName="dataInical" readonly matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Origem</mat-label>
          <mat-select name="origem" formControlName="origem">
            <mat-option></mat-option>
            <mat-option *ngFor="let origem of cidades" [value]="origem.id">
              {{origem.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Destino</mat-label>
          <mat-select name="destino" formControlName="destino">
            <mat-option></mat-option>
            <mat-option *ngFor="let destino of cidades" [value]="destino.id">
              {{destino.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Valor Frete</mat-label>
          <input type="text" name="valorFrete" formControlName="valorFrete" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Peso em Tonelada</mat-label>
          <input type="text" name="pesoTonelada" formControlName="pesoTonelada" matInput>
        </mat-form-field>
        <form class="example-form">
          <label class="titles">Despesas:</label>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill add" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
          <div class="example-full-width ion-list">
            <div *ngIf="despesas">
              <div class="item" *ngFor="let despesa of despesas">
                <label class="aling">{{despesa.descricao}}</label>
                <label class="aling" slot="end">R$ {{despesa.preco}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash aling" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square aling" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </div>
            </div>
          </div>
        </form>
        <br>
        <form class="example-form">
          <label class="titles">Abastecimentos:</label>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill add" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
          <div class="example-full-width ion-list">
            <div *ngIf="abastecimentos">
              <div class="item" *ngFor="let abastecida of abastecimentos">
                <label class="aling">{{abastecida.tipoAbastecimento}}</label>
                <label class="aling">{{abastecida.litros}}Lts</label>
                <label class="aling" slot="end">R$ {{abastecida.preco}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash aling" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square aling" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </div>
            </div>
          </div>
        </form>
        <br>
        <form class="example-form">
          <label class="titles">Pedágio:</label>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-plus-circle-fill add" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
          </svg>
          <div class="example-full-width ion-list">
            <div *ngIf="pedagios">
              <div class="item" *ngFor="let pedagio of pedagios">
                <label class="aling">{{pedagio.descricao}}</label>
                <label class="aling" slot="end">R$ {{pedagio.valor}}</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash aling" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square aling" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-3 mb-4 d-flex justify-content-center">
          <button *ngIf="this.viagem.estadoViagem == 'ABERTA'" type="button" class="btn btn-outline-primary"
            (click)="edit(2)">Finalizar Viagem</button>
          <button *ngIf="this.viagem.estadoViagem == 'ABERTA'" type="button" class="btn btn-outline-danger"
            (click)="edit(3)">Cancelar Viagem</button>
        </div>
        <div class="mt-3 mb-4 d-flex justify-content-center">
          <button *ngIf="this.viagem.estadoViagem == 'ABERTA'" type="button" class="btn btn-primary"
            (click)="edit(0)">Salvar</button>
          <button type="button" class="btn btn-danger" routerLink="/viagens">Voltar</button>
        </div>
      </form>

    </div>
  </div>
</div>
