ion-icon {
  color: #016FA0;
  font-size: 28px;
}

ion-label {
  font-size: 18px !important;
  color: rgb(46, 46, 46) !important;
}

h2{
  color: #016FA0;
  font-size: 28px;
  text-align: center;
  margin-bottom: -10px;
}

ion-card {
  margin-bottom: 50px;
}

.ban {
  color: #016FA0;
  font-size: 22px;
  font-weight: bold;
}


