.fechar {
  font-size: 26px !important;
  font-weight: bold !important;
}

ion-row{
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  font-size: 22px;
  color: #016FA0;
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
