.list-md{
  padding-bottom: 0px;
  padding-top: 0px;
}

.md .list-md .hydrated {
  --min-height: 0;
  --padding-start: 0px;
  margin-left: 5px;
}

.email {
  color: #0078B7;
}

ion-label{
  font-family: 'Poppins', sans-serif !important;
}

ion-list{
  cursor: pointer;
}

ion-label{
  margin-left: 7px;
}

.menu-nome{
  font-weight: 600;
}



